{% macro minimal_accordion(accordion) %}
    <accordion close-others={{ accordion.close_others | lower | string }}>
        {% for a in accordion.accordions %}
            <accordion-group heading={{a.group_label}} {% if a.is_open %}is-open="true"{% endif %}>{{a.interior}}</accordion-group>
        {% endfor %}
    </accordion>
{% endmacro %}

{% macro bootstrap_accordion(accordion) %}
    <div class="accordion {{accordion.css_class}}"">
        {%  for g in accordion.accordions %}
            <div class="accordion-group {{ accordion.css_class }}">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#{{ g.of_accordion }}" href="#collapse{{ g.group_label | capitalize }}">
                        {{ g.label | capitalize }}
                    </a>
                </div>
                <div id="collapse{{ g.group_label | capitalize }}" class="accordion-body collapse {% if g.is_open  %}in{% endif %}">
                    <div class="accordion-inner">
                        {{ g.interior | safe }}   
                    </div>
                </div>
            </div> 
        {% endfor %}
    </div>    
{% endmacro %}
