{% macro listmacro(listitems) %}
    <ul {%if listitems.css_id%}id='{{listitems.css_id}}'{%endif%}{%if listitems.css_class%} class='{{listitems.css_class}}'{%endif%}>
        {% for item in listitems.list_items %}
            {{item.render | safe}}
        {% endfor %}
    </ul>
{% endmacro %}

{% macro listitem(item) %}
    {% if item.independent %}
        {{ item.render | safe }}
    {% else %}
        <li{%if item.css_class%}class="{{item.css_class}}"{%endif%}><a href="{{item.url()}}">{{item.name}}</a></li>
    {% endif %}
{% endmacro %}
