{% macro ullinks(ullinks) %}
    <ul{%if ullinks.css_id%}id="{{ullinks.css_id}}"{%endif%}{%if ullinks.css_class%} class="{{ullinks.css_class}}"{%endif%}>
        {% for item in ullinks.list_items %}
            {{item.render | safe}}
        {% endfor %}
    </ul>
{% endmacro %}

{% macro lilink(link) %}
    {% if link.independent %}
        {{ link.render | safe }}
    {% else %}
        <li{%if link.css_class%}class="{{link.css_class}}"{%endif%}><a href="{{link.url()}}">{{link.name}}</a></li>
    {% endif %}
{% endmacro %}
