{% macro listmacro(l) %}
    <{{l.kind}} {%if l.css_id%}id='{{l.css_id}}'{%endif%}{%if l.css_class%} class='{{l.css_class}}'{%endif%}>
        {% for item in l.list_items %}
            {{item.render | safe}}
        {% endfor %}
    </{{l.kind}}>
{% endmacro %}

{% macro listitem(li) %}
    {% if li.independent %}
        {{ li.render | safe }}
    {% else %}
        <li{%if li.css_class%}class="{{li.css_class}}"{%endif%}><a href="{{li.url()}}">{{li.name}}</a></li>
    {% endif %}
{% endmacro %}
